# Maven build
/target/

# Eclipse
.project
.classpath
.settings/
.metadata/

# IntelliJ IDEA
.idea/
*.iml
out/

# VS Code
.vscode/

# Java compiled classes
*.class

# Maven temporary files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
logs/

# OS files
.DS_Store
Thumbs.db

# Local DB credentials
db.properties
/.metadata/
/.metadata/
